* {
	margin:0px;
	padding:0px;	

}

body {
	font-family: verdana, Arial, sans-serif;
	font-size:10pt;

}

a {
	text-decoration:none;
}

/**** key lengths *****/
#main {
	margin:0 auto;
	width:1100px;
}

ul {
	margin:3px 0 0 0;
	list-style:none;
	border:solid 2px #aaaaaa;
	width:25em;
	height:2em;
}

#header {
	height:50px;
}

h1.left {
	float:left;

}

h1 a {
	color:gray;
}

.banner_image {
	float:right;
	border:none;
}

.tab_spans {
	width:100px;
	/* border:solid 1px blue; */
	border:solid 1px #aaaaaa;
	background-color:#cceeee;
	font-size:12pt;
	padding:1px 50px 1px 50px;
}

/***** key lengths *****/
.tab_divs {
	width:980px;
	height:450px;
	/* border:solid #003399 2px;  */
	border:solid #aaaaaa 2px;  
	//padding:1px 0px 0px 0px;;
	padding:0px 0px 0px 0px;;
	overflow:auto; 

}

.tab_header {
	margin:0px;
	padding:0px;
}

.tab_top  {
	float:left;
	width:auto;
}

.tab_bottom  {
	float:left;
	width:auto;
}

.tab_bottom_search {
	//display:inline-block;	
	float:left;
	width: inherit;
}

.tab_header .tab_bottom_search .tab_spans {
	//display:inline-block;	
	width:auto;
	color:red;
}

#tab_AE #sp_AE {
	background-color:green;
}

#tab_FJ #sp_FJ {
	background-color:green;
}

#tab_KP #sp_KP {
	background-color:green;
}

#tab_QU #sp_QU {
	background-color:green;
}

#tab_VZ #sp_VZ {
	background-color:green;
}

#tab_DATE #sp_DATE {
	background-color:green;
}

#tab_SRCH_TITLE #sp_SRCH {
	background-color:green;
}

.tab_divs #sp_SRCH {
	padding:1px 25px 1px 25px;
//	padding:1px 25px 1px auto;
	width:auto;
}

.row_color1 {
	background-color:#D0D0D0;
}

.row_color2 {
	background-color:#E8E8E8;
}

/**** key lengths ****/
.tab_table {
	width:970px;
	/*border:solid #003399 1px;*/
	border:none;
	table-layout:fixed;
	padding:0px 0px 0px 0px;
	margin:2px 0px 0px 0px;
}

.tab_table td {
	 height:2em;
}

.header_row {
	/*background-color:#0099CC*/;
	background-color:#00AA55;
}

.url_cell {
	overflow:hidden;
}

.date_cell {
	overflow:hidden;
}

.landing {
	margin: 0 auto;
	width:400px;
	height:200px;
	background-color:grey;
	border:solid 2px black;
}

.landing ul {
	width:95%;
	border:none;
	position:relative;

}

.landing ul input {
	float:right;
	font-size:18px;
}

.landing form {
	height:3em;
	height:3em;
}

.search_div {
	position:relative;
	width:545px;
/*	width:300px; */
	height:65px;
/*	height:10px; */
}

#searchDateStart {
	background-color:lightblue;
	font-weight:bold;
}


#searchDateEnd {
	background-color:lightblue;
	font-weight:bold;
}


.search_div ul {
	width:100%;
	font-size:18px;
	border:none;
}

.new_mark {
	margin-top:40px;
	width:100%;
	height:125px;
}

.new_mark ul {
	width:100%;
	margin-top:5px;
	border:none;
	height:75px;
	font-size:18px;
}

.delta_pass {
	margin:15px auto;
	padding:0 0 0 10px;
	width:225px;
	height:175px;
	background-color:grey;
	border:solid 2px black;
}

.delta_pass ul {
	border:none;
}

.registration {
	margin: 0 auto;
	width:425px;
	height:215px;
	background-color:grey;
	border:solid 2px black;
}

.registration ul {
	width:95%;
	border:none;
	position:relative;
}

.registration li {
	font-size:18px; 
	padding-top:2px;	
	padding-left:5px;
}

.registration li input {
	float:right;	
}

#sort_span {
	/*color:#006699;*/
	color:#FF9900;
	font-size:10px;
	margin:0px;
	padding:0px;
}

#sort_span_date {
	/*color:#006699;*/
	//color:#FF9900;
	color:black;
	font-size:13px;
	margin:0px;
	padding:0px;
}

#logout {

	font-size:17px;
	font-weight:bold;
	width:225px;
	overflow:hidden;
}


#logout p:hover {
	color:white;
	background-color:black;
	overflow:hidden;

}

.updateLayer {
  display:none;
 // background-color:transparent;
  background-color:lightblue;
  width:600px;
  height:auto;
  top:200px; 
  left:200px;
  z-index:auto;
  border:outset;
  position:absolute;
}

.updateLayer h1 a:hover {
  color:green;

}

.delLayer {
  display:none;
  background-color:orange;
  width:300px;
  height:auto;
  top:100px; 
  left:200px;
  z-index:auto;
  border:outset;
  position:absolute;
}

.delLayer h1 a:hover {
  color:green;
}
