<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> WebMarks Application </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=.65">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
 <link rel="shortcut icon" href="/static/images/dc.ico"> 
 <link rel="icon" href="/static/images/dc.ico">
 <link rel="stylesheet" href="/static/css/style.css" type="text/css"> 
</head>
<body>
<div id="main">
 <div id="header">
  <a href="/pyWebMarks/webMarks"> <img class="banner_image_left" alt="webmarks logo" src="/static/images/webmarks_yellow.png" /> </a> 
   <a href="/"> <img class="banner_image" alt="dcoda logo" src="/static/images/DCBANNER_CROP2_219_31_2.jpg" /> </a> 
 </div>
 <div class="registration">
   <form name="registration"  method="POST" action="/pyWebMarks/regAuth"> 
     <ul>
		<li style="font-size:30px; padding-bottom:10px;"> REGISTER </li>
		<li> ENTER USER NAME: <input name="user_name" type="text"> </li>
		<li> ENTER PASSWORD: <input name="new_user_pass1" type="password"> </li>
		<li> RENTER PASSWORD: <input name="new_user_pass2" type="password"> </li>
		<li> ENTER EMAIL ADDRESS: <input name="email_address" type="text"> </li>
		<li style="font-size:18px; color:red"> {{ errText }}  </li>
		<li style="position:absolute; top:175px; right:5px; font-size:24px; padding-top:10px; padding-left:10px;"> 
		<input name="submit" type="submit" value="Submit" style="font-size:10pt"> </li>
       </ul>
    </form>
 </div>
 </div>
</body>
</html>
