<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> WebMarks Application </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=.65">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
 <link rel="shortcut icon" href="/static/images/dc.ico"> 
 <link rel="icon" href="/static/images/dc.ico">
 <link rel="stylesheet" href="/static/css/style.css" type="text/css"> 
</head>
<body>
<div id="main">
 <div id="header">
  <a href="/pyWebMarks/webMarks"> <img class="banner_image_left" alt="webmarks logo" src="/static/images/webmarks_yellow_delta_brownies_crop.png" /> </a> 
   <a href="/"> <img class="banner_image" alt="dcoda logo" src="/static/images/DCBANNER_CROP2_219_31_2.jpg" /> </a> 
 </div>
 <div class="not_found">
    <h1> NO Pages Here .... </h1>
 </div>
 </div>
</body>
</html>
